<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="punto_ventaEntities" connectionString="metadata=res://*/entity.csdl|res://*/entity.ssdl|res://*/entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=punto_venta;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>