<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="punto_ventaEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=wilmerlomas1;database=punto_venta&quot;" providerName="System.Data.EntityClient" />
    <add name="puntoVentaEntities" connectionString="metadata=res://*/Mysql.Model1.csdl|res://*/Mysql.Model1.ssdl|res://*/Mysql.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=wilmerlomas1;database=punto_venta&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>